body {
  font-size: 11pt;
  line-height: 1.5;
  font-family: "Roboto Condensed", sans-serif;
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
}
h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2.8rem;
  text-align: center;
}

h2 {
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
}

.container {
  width: 100%;
}

header {
  background-color: rgb(0, 96, 206);
  border-bottom: 6px solid #00a3cc;
  display: flex;
  min-height: auto;
  justify-content: space-around;
  align-items: center;
}

main {
  margin: 25px auto;
}


.title h1{
  letter-spacing: 1.5px;
  font-size: 2.5rem;
  font-family: "Jost", sans-serif;
  margin-left: 20px;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  padding: 0;
}
.nav-links li {
  margin: 0 1.5rem;
}
.nav-links a {
  font-size: 1rem;
  font-family: "Jost", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.presentacion {
  color: white;
  text-align: center;
  align-items: center;
  padding: 5px 0 25px 0;
  background: #1a2980;
  background: -webkit-linear-gradient(to right, #26d0ce, #1a2980);
  background: linear-gradient(to right, #26d0ce, #1a2980);
  border-bottom: 6px solid #00a3cc;
}

.presentacion h1 {
  font-size: 3rem;
}
.presentacion h2 {
  font-size: 1.25rem;
}

.imagen {
  width: 90%;
  margin: 0 auto 30px auto;
}

.logos {
  display: flex;
  justify-content: center;
}
.logo {
  text-align: center;
  width: 33%;
  margin: 0 30px;
}
.logo-app {
  width: 60%;
}
.logo-empresa {
  width: 100%;
}

.aplicacion {
  border-top: 6px solid #00a3cc;
  border-bottom: 6px solid #00a3cc;
  margin: 20px 0 35px 0;
  padding: 20px 0;
  color: white;
  text-align: center;
  align-items: center;
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}

.aplicacion h2{
  font-size: 30px;
}

.box-apps {
  align-items: center;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 85%;
}

.app {
  margin: 20px 0;
  width: 31%;
}

.descarga {
  font-family: 'Barlow', sans-serif;
  width: 25%;
  margin: 15px auto 30px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  border: 2px solid #000000;
  background-image: linear-gradient(to bottom, #8241f9, #4e277b);
  border-color: #150a27;
  border-top-color: rgb(21, 10, 39);
  border-right-color: rgb(21, 10, 39);
  border-bottom-color: rgb(21, 10, 39);
  border-left-color: rgb(21, 10, 39);
  color: #fff;
  border-radius: 6px;
}

.botones {
  display: flex;
  width: 48%;
  align-items: center;
  margin-left: 15px;
}

.boton {
  margin: 0 10px;
}

.boton img{
  width: 100%;
  margin: 0 10px;
}

.container-video {
  text-align: center;
}
.container-video video {
  width: 50%;
}

main dt {
  text-align: center;
}


footer {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin-top: 45px;
  padding: 5px 0 10px 0;
  background-color: rgb(0, 96, 206);
  color: white;
}